<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>Michael Edmonson</p>
    <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/96086105_3123532924364527_4146375454921588736_o.jpg?_nc_cat=110&_nc_sid=09cbfe&_nc_ohc=fJLAFYk_YqIAX94fzJ3&_nc_ht=scontent-lga3-1.xx&oh=bf5dea6ce99b4d086b08483dbab12d0e&oe=5EDEA226" alt="Picture of Me">
    <p>Class of 2020</p>
    <p>Economics-Philosophy Major</p>
    <a href="/1006">What course am I taking?</a>
    <p><a href="/bayblades">Bayblades</a></p>
    <p><a href="https://www.google.com">Here is a link to Google.</a></p>
    </body>
</html>

